.App {
  background: rgb(189, 184, 251);
  background: linear-gradient(
    36deg,
    rgba(189, 184, 251, 1) 0%,
    rgba(135, 206, 236, 1) 35%,
    rgba(214, 225, 243, 1) 100%
  );
  min-height: 100vh;
  display: flex;
}

@media (max-width: 768px) {
  .desktopSideNavContainer {
    display: none;
  }
  .responsiveNav {
    display: inline-block;
  }
}
@media (min-width: 769px) {
  .responsiveNav {
    display: none;
  }
}

.postCardList {
  position: absolute;
  right: 50px;
  padding-left: 300px;
  padding-top: 75px;
}

.profilePageCard {
  position: absolute;
  margin-left: 15%;
  margin-top: 5%;
}
