.App {
  background: rgb(189, 184, 251);
  background: linear-gradient(
    36deg,
    rgba(189, 184, 251, 1) 0%,
    rgba(135, 206, 236, 1) 35%,
    rgba(214, 225, 243, 1) 100%
  );
  min-height: 500vh;

  display: flex;
}

.postCardList {
  position: inherit;
  right: 50px;
  padding-left: 300px;
  padding-top: 75px;
}

.profilePageCard {
  position: relative;
  margin-left: 15%;
  margin-top: 5%;
  padding-top: 10px;
}

@media (max-width: 768px) {
  /* .App {
    height: fit-content;
  } */
  .desktopSideNavContainer {
    display: none;
  }
  .responsiveNav {
    display: inline-block;
  }
  .postCardList {
    /* position: absolute; */
    padding-left: 50px;
    right: 15px;
  }
}
@media (min-width: 769px) {
  .responsiveNav {
    display: none;
  }
}
