.post-card {
  background-size: cover;
  background-position-x: 50%;
  background-position-y: center;
  /* height: 500px;
  width: 300px;
  margin: 0px 10px 8px 10px; */
  border-radius: 25px;
  border-color: rgb(204, 150, 0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
}

.title {
  font-size: 5px;
  color: blue;
  width: 80%;
}

.post-img {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

.container {
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-left: auto;
  width: 60%;
  margin: 0 auto;
}
