.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > .masonry-post {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 10px;
}
